/* Colors and fonts*/

body{
	color: #2b2d42;
	background: #EDF2F4;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}
h1{
	color: #d80032;
	font-family: 'Lora', serif;
	font-size: 32px;
}
h2{
	color: #ef233c;
	font-family: 'Lora', serif;
	font-size: 24px;
	font-weight: lighter; 
}
a{
	text-decoration: none;
	color: #d80032;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	transition: color 0.3s ease;
}
a:hover{
	color: #a0aabb;
}

/* Custom design with class */
.container{
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 720px){
	.container{
		width: 500px;
	}
}
@media (max-width: 540px){
	.container{
		width: 300px;
	}
}
.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle{
	border-radius: 50%;
}
.btn-red{
	background-color: #d80032;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-red:hover {
	background-color: #a0aabb;
	color: white;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
	color: rgb(230,230,230);
}
.list-inline i:hover{
	color: #d80032;
}
#introduction p{
	margin-bottom: 40px;
}